* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}
.container {
  background: linear-gradient(#686a6c, #f1a32d);
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  height: 480px;
  width: 380px;
}
.item {
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: 0.7px solid black;
}

.item:hover {
  opacity: 0.7;
}

.item:active {
  background-color: white;
  opacity: 0.3;
  color: #4a494f;
}

.display {
  grid-area: display;
  background-color: #4a494f;
  opacity: 0.7;
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.button-operations-right {
  background-color: #f1a32d;
}
.button-numbers {
  background-color: #75757d;
}
.button-operations {
  background-color: #5a5663;
}
.clear {
  grid-area: clear;
}
.plus-minus {
  grid-area: plus-minus;
}
.percent {
  grid-area: percent;
}
.division {
  grid-area: division;
}

.buttonision {
  grid-area: buttonision;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.multiplication {
  grid-area: multiplication;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.minus {
  grid-area: minus;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.plus {
  grid-area: plus;
}
.zero {
  grid-area: zero;
}
.point {
  grid-area: point;
}
.equal {
  grid-area: equal;
}

section {
  grid-template-areas:
    "display display display display"
    "clear plus-minus percent buttonision"
    "seven eight nine multiplication"
    "four five six minus"
    "one two three plus"
    "zero zero point equal";
}
